{% extends 'base.html' %}
{% block content %}
    <div id="formbox">
        <form action=""method="post" onsubmit="return check();">
        <label>标题</label><textarea rows="1" cols="20" name="title" maxlength="100" id="title"></textarea><br>
        <label>内容</label><textarea rows="5" cols="20" name="text" maxlength="5000" id="text"></textarea><br>
        <input type="submit" id="submit">
    </div>
</form>
    <div id="comment">
        <ul id="list">
            {% for c in comments %}
                <li>
                    <div id="author">{{c.auther}}{{c.id}}aaa</div>
                    <div id="title"><p>{{c.title}}</p></div>
                    <div id="text">{{c.text}}</div>
                </li>
            {% endfor %}
        </ul>
        
    </div>
{% endblock content %}

